.landing-image {
  background-color:
}

.landing-teaser {
  background-color: #222222;
  color: #626262;
}

body {
  background-color: #222222;
  color: #00b6ff;
}

.col-main {
  background-color: #99bf9a;
}

.col-sec {
  background-color: #494A4E;
}

.black {
  color: #000000;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.dark {
  color: #212529;
}

.light {
  color: #99bf9a;
}

.bac-light {
  background-color: #00b6ff;
}

.bac-dark {
  background-color: #212529;
}

.bac-sec {
  background-color: #494A4E;
}
